/*
.login_span {
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 14%;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;

} /* set the style for the icons on the login window */


/*
.modal-dialog {
		width: 300px;
}
.modal-footer {
		height: 70px;
		margin: 0;
}
*/

 .btn {
		font-weight: bold;
}
/*
.modal-footer .progress {
		display: none;
		height: 32px;
		margin: 0;
}
*/
.input-group-addon {
		color: #fff;
		background: #3276B1;
}	

#logo {
/*	margin-top: 10px; */
/*	width: 200px; */
	
}

form
{
		margin-top: 10px;
	/*	background-color: whitesmoke; */
		
}

.popover-danger.right .arrow:after {
  border-right-color: #d9534f;
	
}
.popover-danger {
	border-color: #d9534f;
	width: 300px;
	height: 40px;
	/*font-weight: bold;*/
	/*background-color: #d9534f;*/
	/*color: white;*/
}



.form-control {
		/*border: 1px solid #3276B1;*/
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

#header {
/*	text-align: center; */
margin-bottom: 10px;
	margin-top: 50px;
	font:  43px 'Exo', sans-serif;
	font-weight: 200;
	color: #3276B1;
	padding-top: 20px;
	font-style: italic;
}

#sub_header {
	font:  'Exo', sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #3276B1;
}

#footer {
	color: #3276B1;
	text-align: center;
	font-size: 12px;
}

:root {
/*	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed; */
	/*background: url(http://i.imgur.com/0J2CIXM.jpg?1) repeat scroll center top #000;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
	background: whitesmoke;
}

.input {
	border-color: #3F2B22;
}

#optimized {
	position: fixed; bottom: 0px; right: 0px;
	/* float right */
/*margin-bottom:0px;	
	position:absolute; right:0px; top:bottom; z-index:2; */
	}

