<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-family:Calibri;
        }

        p {
            font-family:Calibri;
        }


    </style>
</head>
<body>
<p>Exmos(as). Senhores(as):</p>

<p>Lembramos que se encontram em débito, de acordo com as condições de pagamento estabelecidas, os seguintes documentos:</p>


<table style="width:50%; text-align: center">
    <tr>
        <th>Nº Doc</th>
        <th>Tipo</th>
        <th>Emissão</th>
        <th>Condição Pagamento</th>
        <th>Vencimento</th>
        <th>Vencido</th>
    </tr>
    <tr>
        <td>FA2019/724</td>
        <td>Fatura</td>
        <td>23/09/2019</td>
        <td>Pronto Pagamento</td>
        <td>23/09/2019</td>
        <td>269.27€</td>
    </tr>
    <tr>
        <td>FA2019/728</td>
        <td>Fatura</td>
        <td>24/09/2019</td>
        <td>Pronto Pagamento</td>
        <td>24/09/2019</td>
        <td>99.21€</td>
    </tr>
    <tr>
        <td>FA2019/788</td>
        <td>Fatura</td>
        <td>07/10/2019</td>
        <td>Pronto Pagamento</td>
        <td>07/10/2019</td>
        <td>114.81€</td>
    </tr>
    <tr>
        <td>FA2019/1071</td>
        <td>Fatura</td>
        <td>18/12/2019</td>
        <td>Pronto Pagamento</td>
        <td>18/12/2019</td>
        <td>8024.70€</td>
    </tr>
    <tr>
        <td>NC2020/2</td>
        <td>N. Crédito</td>
        <td>06/01/2020</td>
        <td>Pronto Pagamento</td>
        <td>06/01/2020</td>
        <td>-1080.00€</td>
    </tr>
    <tr>
        <td>Total</td>
        <td colspan="4"></td>
        <td>7427.99€</td>
    </tr>
</table>


<p>Agradecemos a rápida regularização destes débitos, pois tal é muito importante para a nossa tesouraria.</p>
<p>Se porventura este pedido se cruzou com o pagamento queiram, por favor, ignorá-lo.</p>

<p>N/ IBAN: CCAM - PT50 0045 3190 4029 9049 9330 2 | MONTEPIO - PT50 0036 0377 9910 6008 1072 5</p>

<br />

<p>Com os melhores cumprimentos,</p>

<br />


<table>
    <tr style="">
        <td style="font-family:Calibri; font-size:11px; text-align:center;border-color: white !important;" valign="top">
            <a href="https://derwo.pt/" target="_blank">
                <img src="http://185.2.101.247/standalone_wyipi_tks/img/logos/derwo.jpg" border="0" />
            </a>
        </td>
        <td style="font-family:Calibri; font-size:12px; padding-left:10px; color: grey;border-color: white !important;">
            <strong>Dtpo. Financeiro</strong><br />
            <strong>DERWO – Componentes Técnicos de Madeira Lda</strong><br />
            <strong>Z. Industrial do Monte Cavalo; Lotes CE 9.10.11.12</strong><br />
            <strong>3670-272 Vouzela</strong><br />
            <strong>+351 232 771 033</strong><br />
            <strong>geral@derwo.pt | <a href="https://derwo.pt/" target="_blank">www.derwo.pt</a></strong><br />
        </td>
    </tr>
</table>

<table>
    <tr style="">
        <td style="font-family:Calibri; font-size:11px; text-align:center; border-color: white !important;">
            <img src="http://185.2.101.247/standalone_wyipi_tks/img/logos/derwo.jpg" border="0" />
            </a>
        </td>
        <td style="font-family:Calibri; font-size:12px; padding-left:10px; color: grey;border-color: white !important;">
            <strong><span style='color:gray;mso-fareast-language:PT'>Dtpo. Financeiro</span></strong><br />
            <strong><span style='color:gray;mso-fareast-language:PT'>DERWO – Componentes Técnicos de Madeira Lda</span></strong><br />
            <span style='color:gray;mso-fareast-language:PT'>Z. Industrial do Monte Cavalo; Lotes CE 9.10.11.12</span><br />
            <span style='color:gray;mso-fareast-language:PT'>3670-272 Vouzela</span><br />
            <strong><span style='color:gray;mso-fareast-language:PT'>+351 232 771 033</span></strong><br />
            <strong>geral@derwo.pt</strong><br />
        </td>
    </tr>
</table>


</body>
</html>


